<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.onebank.taskmaster.searchtask.repository.*" level="TRACE" />
    <logger name="com.onebank.taskmaster.searchtask.service.*" level="WARN" />
    <logger name="com.onebank.taskmaster.searchtask.function.*" level="WARN" />
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>